body
{
    padding: 0;
    margin: 10px;
    text-align: center;
    background-color: #009578;
}
button
{
padding: 10px;
font-weight: bold;
background-color:rgb(238, 238, 238);
color: #000 ;
border-radius: 5px ;
.botton
}